body{
  background-color: #14131A;
  color: #fff ;
  font-family: 'Roboto', sans-serif; 
}
.container {
  max-width: 1140px;
  margin: auto;
}
/*_____________________-*/
.header{
  display: flex;
  align-items: center; 
  /*padding-top: 40px;*/
  margin-bottom: 50px;
}
.logo-link{
  display: inline-block;
  margin-right: 52px;
}
.nav-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; /* Убераем точки у меню */
}
.nav-menu-item{
   margin-right: 30px;
}
.nav-menu-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
/*.text-venom {
  font-family: VENOM; /* Имя шрифта *
  src: url(fonts/VENOM.ttf); /* Путь к файлу со шрифтом*/

/*end header*/

.film-logo{
  width: 70%;
}
.film-date {
  display: block; 
  font-size: 24px;  
  line-height: 28px; /*Размер высоты блока где расположена надпись*/
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 38px;
}
.film-description {
  max-width: 423px;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 42px;
}
/*end film*/

.button-group{
 margin-top: 70px; 
}
.button{
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.button-icon, .button-text{
  display: inline-block; 
  vertical-align: middle; /*Выравнивание текста относительно иконки*/
}
.button-text{
  font-size: 14px;
  line-height: 16px;
  margin-left: 10px;
}
.button-primier{
  color: #8D0019;
  background-color: rgb(46, 41, 41);
  margin-right: 36px;
}
.button-link{
  color:#fff;
  text-decoration: none;
}
/*end button*/

.venom{
  position: absolute; /*Данное изображение не будет наезжать на другие элементы*/
  top: 0;
  right: 0;
}
.blood{
  background: url(../img/blood.png) no-repeat top, url('../img/background.jpg') no-repeat center center /100%;
}
/*end img*/

/*about.html*/
.content {
  display: flex;
}
.col-right, .col-left{
  flex-basis: 50%; /*Задаёт базовый размер флекс элемента по основной оси. Каждая кононка на странице будет занимать не более 50% страницы*/
}
.content-title{
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 36px;
  line-height: 42px;
  font-weight: bold;
  margin-top: 0;
}
.content-subtitle{
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 0;
} 
.content-text{
  margin-bottom: 30px;
  max-width: 453px;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8)
}
.content .list{
  list-style-type: none; /*Свойство позволяет определить внешний вид маркера элемента списка (кружка, символа, определенного счетчика и т. Д.). none - Маркер не отображается.*/
  padding: 0; 
}
.list-item{
  line-height: 1.5; /* Расстояние между словами */
}
.coloum { /*Разделяем список на 2 кононки + правила для браузеров, чтоб в разных браузерах отображалось одинаково*/
  max-width: 390px;
  -webkit-column-count: 2; /* Для Safari и Chrome */
  -moz-column-count: 2; /* Для Firefox */
  column-count: 2; /*Разделяет элементы на колличество столбцов*/
  -webkit-column-gap: 20px; /* Расстояние между столбцами. Для Safari и Chrome */
  -moz-column-gap: 20px; /* Расстояние между столбцами. Для Firefox */
  column-gap: 20px; /* Расстояние между столбцами */
}
/*Трейлер*/
.content .trailer{
  background: url('../img/trailer.jpg') no-repeat center /100%;
  border-radius: 5px;
  width: 350px;
  height: 200px;
  display: flex; /*Данное правило нужно, для того чтоб наша кнопк встала по середине*/
  align-items: center; /*Данное правило нужно, для того чтоб наша кнопк встала по середине*/
  justify-content: center; /*Данное правило нужно, для того чтоб наша кнопк встала по середине*/
  margin-top: 33px;
}
.trailer .play {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
}
.trailer .play-icon{
  transform: translate(1px, 2px); /*Свойство чтоб двигать иконку плэй */
  cursor: pointer;
}
/*end col-right*/

.poster-wrepper{
  display: flex;
  align-items: start;
}
.poster{
  width: 360px;
  border-radius: 5px;
  margin-right : 30px;
}
.poster-wrepper .content-subtitle{
  margin-bottom: 5px;  
}
.poster-wrepper .list{
   margin: 0; 
   margin-bottom: 20px; 
}
.no-blood{
  background:  url('../img/background.jpg') no-repeat center center /100%;
}

